@model EBP.Business.Database.Department

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Department Form.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">
                Select Privileges
            </label>
            <div class="col-md-6">
                @foreach (var item in ViewBag.DepartmentPrivileges)
                {
                    <strong>
                        @if (!string.IsNullOrEmpty(@item.ModuleName))
                        { @item.ModuleName}
                        else
                        {<text>Others</text>}
                    </strong>
                    <br />
                    foreach (var Privilege in item.Privileges)
                    {
                        var id = "privilage" + Privilege.Value;
                        <input type="checkbox" name="selectedPrivileges" checked="@Privilege.Selected" value="@Privilege.Value" class="checkbox-inline" id="@id" />
                        <label for="@id" class="control-label chklabel">@Privilege.Text</label>
                    }<br />
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
