@model EmgenexBusinessPortal.Models.ChangePasswordModel
@{
    Layout = null;
    ViewBag.Title = "Change Password";
}
<link href="/Controlpanel/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
<link href="/Content/style.css" rel="stylesheet" />
<div class="container">
    <div class="common-login-page">
        <div class="careconnect-logo">
            <a href="/@Model.RelativeUrl"><img src="@Model.Logo" onerror="this.src='/Assets/Logo_Not_Available.jpg';" class="img-responsive"></a>@ViewBag.Title
        </div>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="common-login-form">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BusinessName)
                @Html.HiddenFor(m => m.Logo)
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control formbox pass-img", id = "cc-password", required = "required", placeholder = "Old Password" } })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control formbox pass-img", id = "cc-password", required = "required", placeholder = "New Password" } })

                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control formbox pass-img", id = "cc-password", required = "required", placeholder = "Confirm Password" } })

                </div>
                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                        </div>
                    </div>*@
                <p><small>Note: Passwords must have at least one special character, one digit and one uppercase character.</small></p>
                <p><small>@*Note:- Passwords must have at least one non letter or digit character. Passwords must have at least one digit ('0'-'9'). Passwords must have at least one uppercase ('A'-'Z').*@</small></p>
                <button type="submit" class="btn btn-default cc-btn">Change password</button>
                <span style="text-align:center;color: green;display:block">@Html.DisplayFor(m => m.Result)</span>
                <span style="text-align:center;display:block"><a href="/@Model.RelativeUrl">Back to dashboard</a></span>
            </div>
        }
        <span class="copy"><a href="#"><img src="/Controlpanel/Content/images/careconnect-logo.png" class="img-responsive"></a></span>

    </div>

</div>
@Scripts.Render("~/bundles/jquery")

@*<section class="dashboard">
        <div class="container">
            <div class="wrapper padding-20x m-t-20">
                <div class="container">
                    <h3>@ViewBag.Title.</h3>

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group m-t-20">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Change password" class="btn btn-info btn-cons " />
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>*@

