@model EmgenexBusinessPortal.Models.RegisterViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create User Form.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "required", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", required = "required", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", required = "required", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.WorkEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.WorkEmail, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.WorkEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HomePhone, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.HomePhone, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdditionalPhone, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.AdditionalPhone, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.AdditionalPhone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine1, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine2, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StateId, "State", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DropDownList("StateId", null, "Select", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Zip, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", autocomplete = "off", @maxlength = "5" })
            @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", placeholder = "MM-dd-yyyy", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">
            Select User Role
        </label>
        <div class="col-md-6">
            @foreach (var item in (SelectList)ViewBag.RoleId)
            {
                <span class="col-md-4">
                    <input type="checkbox" name="SelectedRoles" value="@item.Value" id="RolesList.@item.Value" class="checkbox-inline" />
                    <label for="RolesList.@item.Value" class="chklabel">@item.Text</label>
                </span>
            }
        </div>
    </div>
    @*@Html.ValidationMessage("Error", new { @class = "text-danger" })*@

    <div class="form-group">
        <label class="col-md-2 control-label">
            Select Department
        </label>
        <div class="col-md-6">
            @if (@ViewBag.Department != null)
            {
                foreach (var item in (SelectList)ViewBag.Department)
                {
                    <span class="col-md-4">
                        <input type="checkbox" name="selectedDepartments" value="@item.Value" id="Department.@item.Value" class="checkbox-inline" />
                        <label for="Department.@item.Value" class="chklabel">@item.Text</label>
                    </span>
                }
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"></div>
        <div class=" col-md-8">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $('#StartDate').datepicker({
        dateFormat: 'mm-dd-yy'
    });
    //$('#PhoneNumber').mask("(999) 999-9999");
    //$('#HomePhone').mask("(999) 999-9999");
    //$('#AdditionalPhone').mask("(999) 999-9999");
    $("#PhoneNumber").inputmask({
        "mask": "(999) 999-9999",
    });
    $("#HomePhone").inputmask({
        "mask": "(999) 999-9999",
    });
    $("#AdditionalPhone").inputmask({
        "mask": "(999) 999-9999",
    });
</script>
