@model EBP.Business.Database.ReportColumn

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReportColumn</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Service Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupEnrolledService.ServiceName)
        </dd>

        <dt>
           @Html.DisplayName("Column Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColumnName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMandatory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMandatory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayInFilter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayInFilter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInGrid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInGrid)
        </dd>

        <dt>
            @Html.DisplayName("Created On")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayName("Updated On")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayName("Created By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Updated By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.FirstName)
        </dd>

    </dl>
    @Html.ValidationMessage("Error", new { @class = "text-danger" })
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
