
<div class="sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="table table-responsive table-bordered" style="background-color: #0e3859; border-top-right-radius: 15px; color: white; border-bottom-right-radius: 15px;">
        <br />
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Business", "Index", "Business", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>

        @*<div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-md-10 sbtxtalign">@Html.ActionLink("Address Type", "Index", "AddressTypes", new { area = "Admin" }, null)</div>
                <hr class="linealign" />
            </div>*@

        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign"> @Html.ActionLink("Countries", "Index", "Countries", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Degrees", "Index", "Degrees", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>

        @*<div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-md-10 sbtxtalign">@Html.ActionLink("Document Types", "Index", "DocumentTypes", new { area = "Admin" }, null)</div>
        <hr class="linealign" />
    </div>

        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Formulations", "Index", "Formulations", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Insurance Plans", "Index", "InsurancePlans", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Insurance Plan Types", "Index", "InsurancePlanTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>*@
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Lead Sources", "Index", "LeadSources", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        @*<div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-md-10 sbtxtalign">@Html.ActionLink("Marketing Categories", "Index", "MarketingCategories", new { area = "Admin" }, null)</div>
        <hr class="linealign" />
    </div>
    <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Note Parent Types", "Index", "NoteParentTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Payment Types", "Index", "PaymentTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Pgx Status", "Index", "PgxStatus", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Phone Types", "Index", "PhoneTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>*@
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Practice Speciality Types", "Index", "PracticeSpecialityTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Practice Types", "Index", "PracticeTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("NotificationTypes", "Index", "NotificationTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Privilege Modules", "Index", "ModulesMasters", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Privileges", "Index", "Privileges", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        @*<div class="row">
                 <div class="col-xs-2 col-md-2"></div>
                 <div class="col-md-10 sbtxtalign">@Html.ActionLink("Rep Group Status", "Index", "RepGroupStatus", new { area = "Admin" }, null)</div>
                 <hr class="linealign" />
             </div>
                 <div class="row">
                     <div class="col-xs-2 col-md-2"></div>
                     <div class="col-md-10 sbtxtalign">@Html.ActionLink("Report Types", "Index", "ReportTypes", new { area = "Admin" }, null)</div>
                     <hr class="linealign" />
                 </div>
                 <div class="row">
                     <div class="col-xs-2 col-md-2"></div>
                     <div class="col-md-10 sbtxtalign">@Html.ActionLink("Rep Status", "Index", "RepStatus", new { area = "Admin" }, null)</div>
                     <hr class="linealign" />
                 </div>
                 <div class="row">
                     <div class="col-xs-2 col-md-2"></div>
                     <div class="col-md-10 sbtxtalign">@Html.ActionLink("Rxc Plan Types", "Index", "RxcPlanTypes", new { area = "Admin" }, null)</div>
                     <hr class="linealign" />
                 </div>
                 <div class="row">
                     <div class="col-xs-2 col-md-2"></div>
                     <div class="col-md-10 sbtxtalign">@Html.ActionLink("Rxc Status", "Index", "RxcStatus", new { area = "Admin" }, null)</div>
                     <hr class="linealign" />
                 </div>
            <div class="row">
                     <div class="col-xs-2 col-md-2"></div>
                     <div class="col-md-10 sbtxtalign">@Html.ActionLink("Script Types", "Index", "ScriptTypes", new { area = "Admin" }, null)</div>
                     <hr class="linealign" />
                 </div>
             <div class="row">
                     <div class="col-xs-2 col-md-2"></div>
                     <div class="col-md-10 sbtxtalign">@Html.ActionLink("Services", "Index", "Services", new { area = "Admin" }, null)</div>
                     <hr class="linealign" />
                 </div>*@
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("States", "Index", "States", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>
        @*<div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-md-10 sbtxtalign">@Html.ActionLink("Task Priority Types", "Index", "TaskPriorityTypes", new { area = "Admin" }, null)</div>
                <hr class="linealign" />
            </div>*@
        @*<div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-md-10 sbtxtalign">@Html.ActionLink("Task Types", "Index", "TaskTypes", new { area = "Admin" }, null)</div>
            <hr class="linealign" />
        </div>*@
        @*<div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-md-10 sbtxtalign">@Html.ActionLink("Txc Status", "Index", "TxcStatus", new { area = "Admin" }, null)</div>
                <hr class="linealign" />
            </div>*@
    </div>
</div>