@model IEnumerable<EBP.Business.Database.ReportColumnValue>

@{
    ViewBag.Title = "Report ColumnValue";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>Report ColumnValue</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportColumn.ColumnName)
        </th>
        <th>
            @Html.DisplayName("ReportId")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th>
            @Html.DisplayName("Updated By")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReportColumn.ColumnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportMaster.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
