@model IEnumerable<EBP.Business.Database.Role>
@{
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<div class="col-sm-12 col-xs-12">
    @if (ViewBag.TotalPage > 1)
    {
        <ul class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <li>
                    @Ajax.ActionLink("First", "Index", "Roles", new { page = 1, IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RolesListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })


                </li>
                <li>
                    @Ajax.ActionLink("Previous", "Index", "Roles", new { page = (ViewBag.CurrentPage - 1), IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RolesListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })


                </li>
            }

            @for (var page = (int)ViewBag.StartPage; page <= (int)ViewBag.EndPage; page++)
            {
                <li class="@(page == ViewBag.CurrentPage ? "active" : "")">
                    @Ajax.ActionLink(@page.ToString(), "Index", "Roles", new { page = @page, IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RolesListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPage)
            {
                <li>
                    @Ajax.ActionLink("Next", "Index", "Roles", new { page = (ViewBag.CurrentPage + 1), IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RolesListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })
                </li>
                <li>
                    @Ajax.ActionLink("Last", "Index", "Roles", new { page = (ViewBag.TotalPage), IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RolesListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })
                </li>
            }
        </ul>
    }
</div>
