@model IEnumerable<EBP.Business.Database.LookupServiceColumn>
@{
    ViewBag.Title = "Report Column";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}
<h2> @ViewBag.ColumnName</h2>
<p>
    <div class="row col-md-12">
        <div class="col-md-8">
            @Html.ActionLink("Create", "Add", new { id = @ViewBag.ColumnId })
        </div>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>

        <th>
            @Html.DisplayName("Created On")
        </th>

        <th>
            @Html.DisplayName("Created By")
        </th>

        <th>
            @Html.DisplayName("Updated On")
        </th>

        <th>
            @Html.DisplayName("Updated By")
        </th>

        <th>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User1.FirstName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                @Html.ActionLink("Delete", "LookupServiceColumnDelete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "ReportColumns", new { id = @ViewBag.Serviceid })
</div>