@model EBP.Business.Database.ReportStaticColumnConfig

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReportStaticColumnConfig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ColumnName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColumnName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColumnOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColumnOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupEnrolledService.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupEnrolledService.ServiceName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
