@model IEnumerable<EBP.Business.Database.RepGroup>

@{
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Sales Team")
        </th>
        <th>
            @Html.DisplayName("Sales Director")
        </th>
        <th>
            @Html.DisplayName("Manager")
        </th>
        <th>
            @Html.DisplayName("Created On")
        </th>
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th>
            @Html.DisplayName("Updated On")
        </th>
        <th>
            @Html.DisplayName("Updated By")
        </th>
        <th>
            Active
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepGroupName)
            </td>
            <td>
                @if (item.User2 != null && item.User2.IsActive == true)
                {
                    @Html.DisplayFor(modelItem => item.User2.FirstName) @Html.DisplayFor(modelItem => item.User2.LastName)
                }
            </td>
            <td>
                @String.Join(", ", item.RepgroupManagerMappers.Where(a => a.User.IsActive == true).Select(a => a.User.FirstName + " " + a.User.LastName).ToArray())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User1.FirstName) @Html.DisplayFor(modelItem => item.User1.LastName)
            </td>
            <td>
                @if(item.IsActive)
                {
                   <text>Active</text>
                }
                else
                {
                    <text>Inactive</text>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<div class="col-sm-12 col-xs-12">
    @if (ViewBag.TotalPage > 1)
    {
        <ul class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <li>
                    @Ajax.ActionLink("First", "Index", "RepGroups", new { page = 1, IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RepGroupListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })


                </li>
                <li>
                    @Ajax.ActionLink("Previous", "Index", "RepGroups", new { page = (ViewBag.CurrentPage - 1), IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RepGroupListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })


                </li>
            }

            @for (var page = (int)ViewBag.StartPage; page <= (int)ViewBag.EndPage; page++)
            {
                <li class="@(page == ViewBag.CurrentPage ? "active" : "")">
                    @Ajax.ActionLink(@page.ToString(), "Index", "RepGroups", new { page = @page, IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RepGroupListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPage)
            {
                <li>
                    @Ajax.ActionLink("Next", "Index", "RepGroups", new { page = (ViewBag.CurrentPage + 1), IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RepGroupListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })
                </li>
                <li>
                    @Ajax.ActionLink("Last", "Index", "RepGroups", new { page = (ViewBag.TotalPage), IsPartial = true, SearchKey = ViewBag.SearchKey }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "RepGroupListing",
                   OnSuccess = "OnSuccess",
                   OnBegin = "OnBegin"
               })
                </li>
            }
        </ul>
    }
</div>
