@*@model EBP.Business.Database.RepGroup*@
@model EmgenexBusinessPortal.Areas.Business.Models.RepGroupModel
@using EmgenexBusinessPortal.Extension;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sales Team</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RepGroupName, "Sales Team", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.RepGroupName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepGroupName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.SalesDirectorId, "Sales Director", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("SalesDirectorId", null, "Select", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SalesDirectorId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.SalesDirectorId, "Sales Director", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <select class="form-control" id="SalesDirectorId" name="SalesDirectorId">
                    <option value="0">Select</option>
                    @foreach (var item in EmgenexBusinessPortal.Helpers.LookUps.GetSalesDirectors(Context.GetCurrentBusinessId()))
                    {
                        int value = Convert.ToInt32(@item.Value);
                        if (value == @Model.SalesDirectorId)
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.SalesDirectorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.CheckBox("IsActive")
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.ManagerIds, "Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group float-label-control col-md-6">
                    @Html.ListBoxFor(model => model.ManagerIds, (IEnumerable<SelectListItem>)ViewBag.Managers, new { @class = "js-example-basic-multiple form-control", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.ManagerIds, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.ManagerIds, "Manager", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="float-label-control col-md-6">
                @Html.ListBoxFor(model => model.ManagerIds, EmgenexBusinessPortal.Helpers.LookUps.GetManagers(Context.GetCurrentBusinessId()), new { @class = "js-example-basic-multiple form-control", multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.ManagerIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/select2/select2.min.js"></script>
<link href="~/Scripts/select2/select2.css" rel="stylesheet" />
<link href="~/Scripts/select2/select2-bootstrap.css" rel="stylesheet" />
<script>
    $(".js-example-basic-multiple").select2();
</script>
